body {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  text-transform: uppercase;
  height: 45px;
}

.appTitle {
  margin: 0 auto;
}

#activityType {
  margin-bottom: 10px;
}

.listTask {
  font-family: "Shadowns Into Light", cursive;
  width: 250px;
  background-color: powderblue;
}
